*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  font-family: 'Libre Franklin', sans-serif;
}
a{
  color: black;
  display: inline-block;
}
/* category */
.product-nav{
  margin-top: 20px;
}
.product-menus{
display: flex;
justify-content: space-around;
}
.product-menu{
  position: relative;
  height: 35px;
}
.product-menu a{
  font-size: 1.5em;
  padding: 0px 10px;
  }


/* product detail */
.detail-section{
  width:700px;
  margin:60px auto;
  text-align: center;
}
.detail-img{
  width: 700px;
  float: left;
}
.detail-user-img{
  float: left;
  margin:40px 0;
  /* position: absolute; */
  width: 700px;
  height: 450px;
  object-fit:cover;
  border-radius: 5px;
}

.writer{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  padding: 20px 15px;
  border-bottom: 1px solid #eee;
}
.writer-infor{
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 0px;
}
.writer-icon{
  color: #495057;
  font-size: 1.5em;
}
.writer-nickname{
  font-size: 1.0em;
  font-weight: bold;
  color: #495057;
}
.writer-region{
  color: #495057;
  font-size: 0.8em;
}
.writer-cheat{
  display: inline-block;
  margin: auto 0px;
}
.cheat-btn{
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 5px;
  background-color: #319e45;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
.cheat-btn:hover{
  color: black;
  background-color: rgba(87, 84, 84, 0.671);
  transition: all 200ms;
}

.detail-title{
  padding: 20px 0px;
  text-align: left;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;

}
.detail-product-name{
  margin-bottom: 5px;
  font-size: 1.6em;
  font-weight: bold;
}
.detail-product-price{
  font-size: 1.6em;
  font-weight: bold;
}
.detail-product-origin-price{
  font-size: 1.1em;
  text-decoration: line-through;
}

.detail-description{
  border-bottom: 1px solid #eee;
  padding: 0px 15px 20px 0px;
  text-align: left;
  font-size: 1.3em;
  /* background-color: red; */
  min-height: 100px;
}
.detail-description p{
  white-space:pre-line;
  font-size: 1.3em;
}
.detail-comment{
  text-align: left;
  padding: 15px 0px;
}

.input-comment{
  padding: 10px 5px;
  width: 300px;
  border: 1px solid rgb(207, 205, 205);
}
.comment-btn{
  display: inline-block;
  border: none;
  width: 100px;
  padding:  10px 5px;
  cursor: pointer;
}
.detail-product-btn{
  display: flex;
  justify-content: space-around;
  margin-top:10px;
}
.detail-product-btn a{
  background-color:#eee;
  padding: 5px;
  border: 1px solid blue;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
    border: none;
    font-size: 1.2em;
}
.like-button{
border: none;
color: whitesmoke;
display: inline;
width: 0px;
}
.like{
  margin-top: 5px;
}
.detail-like{
  cursor: pointer;
  color: rgb(175, 170, 170);
  font-size: 25px;
  background-color: white;
}
.liked{
  color: red
}
/* detail comment */

.detail-comment span{
  font-size:1.0em;
}
.comment-ul{
  margin-top: 30px;
}
.comment-li{
  margin:5px 0;
  font-size: 1.3em;
  padding: 8px 0;

}
.comment-li span{
  
  /* padding: 0px; */
}
.recomment-ul{
  padding-left: 30px;
  margin-top: 5px;
}
.recomment-li{
  border-bottom: 1px solid rgb(233, 229, 229);
  font-size: 1.3em;
  padding: 15px 0;
}
.comment-owner{
  background-color: red;
}
.comment-profile-span{
  display: flex;
  align-items: center;
}
.comment-content{
  margin-left: 43px;
}
.comment-profile-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(207, 206, 206);
}
.comment-reply,.comment-delete,.recomment-delete{
  display: inline-block;
  border: none;
  padding: 4px 7px;
  margin-left:15px;
  border-radius: 5px;
  background-color: rgb(231, 228, 228);
}
.delete-comment-form,.delete-recomment-form{
  display: inline;
}
.comment-delete{
  font-size: 1.2em;
 padding: 4px 7px;
}
.owner{
  color: #f53535;
  border: 1px solid #f53535;
  padding: 1px 7px;
  border-radius: 25px;
}
.input-re-comment{
  width: 100%;
  box-sizing: border-box;
  background-color: #eee;
  border: 2px solid rgb(196, 193, 193);
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  
}
.input-re-comment-input{
  text-align: right;
}
.re-comment-btn{
  padding:8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.non-display{
  display: none;
}

/* product upload */

.image {
  display: block;
  width: 100%;
}
.image-label {
  position: relative;
  bottom: 22px;
  left: 5px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.image-section{
  position: relative;
  text-align: center;
}
.image-preview{
  display: inline-block;
  width: 600px;
  height: 350px;
  margin-top: 100px;
  background-color: gray;
  border-radius: 5px;
}
.image-form{
  text-align: center;
}
.image-select{
  font-size: 1.5em;
    margin: 20px;
    display: inline-block;
    width: 600px;
    padding: 19px 10px;
    font-family: inherit;
    background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eee;
    box-shadow: 0px 0px 6px 3px #eee ;
    border-radius: 0px;
    position: relative;
  }
.select02{
  margin-top:150px;
}
  
.image-name{
  font-size: 1.5em;
  margin: 20px;
  width: 90%;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 6px 3px #eee ;
}
.image-content{
  font-size: 1.5em;
  box-shadow: 0px 0px 6px 3px #eee ;
  border-radius: 5px;
  border: 1px solid #eee;
  width: 90%;
  height: 600px;

}
.image-file{
  width: 600px;
}
.upload-img{
  margin: 10px;
  text-align: center;
  margin-bottom: 20px;
  height: 40vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.upload-img-input{
  width: 600px;
  position: relative;
  left: 100px;
}
.image-content{
  padding: 20px 10px;
  box-sizing: border-box;
}
.image-price{
  width: 120px;
  height: 40px;
  box-shadow: 0px 0px 6px 3px #eee ;
  border-radius: 5px;
  border: 1px solid #eee;
  margin: 0 5px;
  font-size: 1.5em;
  padding: 5px;
  box-sizing: border-box;
}

.won{
  font-size: 1.3em;
  line-height: 2.8;
  margin: 0px 0px;

}
.price-label{
  display: inline-block;
  font-size: 1.5em;
  line-height: 2.6;
  margin: 0 10px 0 -15px;
}
.image-origin-price{
  display: inline-block;
  font-size: 1.5em;
  line-height: 2;
  margin: 0 5px;
  box-sizing: border-box;
}
.image-price-div{
  display: flex;
  justify-content: center;
}
.fa-arrow-right{
  font-size: 20px;
  color: #319e45;
  line-height: 2;
  margin: 0 20px 0 10px;
}

.image-select label{
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
}

.upload-preview-img{
  position: absolute;
  width: 600px;
  background-color:#eee;
  border-radius: 10px;
  height: inherit;
  object-fit:cover;
  cursor: pointer;
}
.image-submit{
  margin-top: 10px;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
