{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}
{% block content %}
<section class="profile-section">

  <div class="profile-infor">
    <ul class="infor-ul">
      <li class="profile-infor"><button class="clicked profile-btn" onclick="profileInfor(event)" ; href="#"><i
            class="fas fa-user-circle"></i><span>프로필 설정</span></button></li>
      <li class="write-infor"><button class="write-btn" onclick="writeInfor(event)" ;><i class="fas fa-pen"></i><span>내가
            쓴 글</span></button></li>
      <li class="like-infor"><button class="like-btn" onclick="likeInfor(event)" ;><i
            class="fab fa-gratipay"></i><span>내가 찜한 제품</span></button></li>
    </ul>
  </div>
  <div class="infor">
    {% include 'profile-infor.html' %}
  </div>
  </div>
  {% endblock content %}
  {% block footer %}
  {% endblock footer %}

  {% block script %}
  <script src="/static/js/user/script.js" type="text/javascript"></script>
  <script>

    profileInfor = (e) => {
      e.preventDefault();
      $profileInfor = document.querySelector('.infor');
      location.reload();
      $profileInfor.innerHTML = `{% include 'profile-infor.html' %}`
      document.querySelector('.profile-btn').classList.add('clicked');
      document.querySelector('.write-btn').classList.remove('clicked');
      document.querySelector('.like-btn').classList.remove('clicked');
    }
    writeInfor = (e) => {
      e.preventDefault();
      $profileInfor = document.querySelector('.infor');
      $profileInfor.innerHTML = `{% include 'write-infor.html' %}`
      document.querySelector('.profile-btn').classList.remove('clicked');
      document.querySelector('.write-btn').classList.add('clicked');
      document.querySelector('.like-btn').classList.remove('clicked');

    }
    likeInfor = (e) => {
      e.preventDefault();
      $profileInfor = document.querySelector('.infor');
      $profileInfor.innerHTML = `{% include 'like-infor.html' %}`
      document.querySelector('.profile-btn').classList.remove('clicked');
      document.querySelector('.write-btn').classList.remove('clicked');
      document.querySelector('.like-btn').classList.add('clicked');

    }
    // 찜한 제품 프로필
    function likeBtn(article_pk) {

      let likeCsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      let param = {
        'article_pk': article_pk,
      }
      fetch("{% url 'social:like' %}", {
        method: 'POST',
        headers: {
          "X-CSRFToken": likeCsrfValue,
          "X-Requested-With": "XMLHttpRequest"
        },
        body: JSON.stringify(param),
      }).then(function (response) {
        console.log('readdss', response)
        return response.json()
      }).then(function (data) {
        let likedIcon = document.querySelector(`.detail-like${data.article_pk}`);
        if (data.is_liked) {
          likedIcon.classList.add('liked');
        }
        else {
          likedIcon.classList.remove('liked');
        }

      }).catch((error) => {
        console.log('error', error);
      })
    }
  </script>
  {% endblock script %}