
<section class="infor-section-profile">
  <h2><i class="fas fa-user-circle"></i>프로필 설정</h2>
  <div class="profile-edit">
  <form class="profile-image-form" action="{% url 'user:profile' user.profile.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div onclick="UploadImg(event)" class="profile-upload-img">
      <input class="profile-image-file profile-upload-img-input" type="file" name="image" width="50"><br>
      <i class="far fa-image"></i>
      <img src="{{user.profile.image}}" alt="" class="profile-upload-preview-img" >
    </div>
    {% if state %}
    <strong class="profile-errmsg">{{msg}}</strong>
    {% endif %}
    <div class="profile-edit-infor">
    <input class="register-nickname" type="text" name="nickname" placeholder="NICKNAME" value="{{user.profile.nickname}}">
    <input class="register-submit" type="submit" value="수정하기">
    </div> 
  </form>
    </div>
  </section>
