{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- <script type="text/javascript" src="{% static 'js/script.js' %}"defer></script> -->
{% endblock head %}
{% block content %}
<section class="register-section">
  <div class="register-logo">
    <img class="register-img" src="{% static 'img/감자register.png' %}" alt="">
    <span>REGISTER</span>
  </div>
  {% if error.state %}
  <strong class="register-errmsg">{{error.msg}}</strong>
  {% endif %}
  <form class="register-form" action="{% url 'user:signup' %}" method="POST">
    {% csrf_token %}
    <input class="register-id" type="email" name="userid" placeholder="EMAIL">
    <input class="register-nickname" type="text" name="nickname" placeholder="NICKNAME">
    <input class="register-pwd" type="password" name="password" placeholder="PASSWORD">
    <input class="register-pwd-chk" type="password" name="password_chk" placeholder="PASSWORD CHECK">
    <input class="register-submit" type="submit" value="회원가입하기"></input>
  </form>
  <a class="login-kakao" href="{% url 'user:kakao_login' %}">카카오톡으로 로그인하기</a>
  <small class="register-infor"><a href="{% url 'user:signin' %}">로그인</a></small>
  
</section>
{% block footer %}
<footer></footer>
{% endblock footer %}
{% endblock content %}
