<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/filter/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/product/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/user/style.css' %}">
  <script src="https://kit.fontawesome.com/453205446a.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <title>감자마켓</title>
  {% block head %}
  {% endblock head %}
</head>

<body>
<nav class="nav">
  <div class="nav-logo">
    <img class="logo-img" src="/static/img/potato.png" alt="">
    <h1><a href="{% url 'home' %}">감자마켓</a></h1>
  </div>
  <div class="nav-menu">

    <ul class="menu-ul">
      <li><a class="menu-all checked" href="{% url 'home' %}">모든제품</a></li>
      <li class="menu-category-li"><a class="menu-category" href="#"> 카테고리별</a>
        <div class="menu-category-list">
          <ul class="menu-category-list-ul active">
            {% for category in category_list.all %}
            <li class="product-menu"><a href="{% url 'filter:category-list' category.pk %}">{{category.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-link">
    {% if user.is_authenticated %}
    <article class="nav-user">
      <img class="user-img user-img{{user.pk}}" src="{{user.image}}" alt=""
        onerror="this.src='/static/img/potato.png'">
      <span class="user-name">{{user.nickname}}님</span>
    </article>
    <a href="{% url 'user:profile' user.pk %}">마이페이지</a>
    <a href="{% url 'user:logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'user:signin' %}">로그인</a>
    <a href="{% url 'user:signup' %}">회원가입</a>

    {% endif %}
  </div>
</nav>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

  {% block footer %}

  <footer class="footer">
    <section class="footer-container">
      <span>footer</span>
    </section>
  </footer>
  {% endblock footer %}

  <script>
    SearchProject = (e) => {

      e.preventDefault();
      let signupCsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      let $SearchProduct = document.querySelector('.nav-search-input').value;
      console.log($SearchProduct == '')
      if ($SearchProduct == '') {
        return
      }
      $product = JSON.stringify($SearchProduct)
      fetch(`/?param=${$product}`, {
        method: 'GET',
        headers: {
          "X-CSRFToken": signupCsrfValue,
          "X-Requested-With": "XMLHttpRequest",
        },
      }).then(function (response) {
        return response.json()
      }).then(function (data) {

        document.querySelector('.product-list').innerHTML = '';
        document.querySelector('.product-list').innerHTML += `
        <h1 class="product-main"> ${$SearchProduct} 관련제품</h1>`
        for (let i = 0; i < data['articles'].length; i++) {
          // discount 가격 계산
          origin_price = data['articles'][i]['origin_price'];
          sale_price = data['articles'][i]['price'];
          price_gap = Number(origin_price) - Number(sale_price)
          real_sale = Number(price_gap) / Number(origin_price) * 100
          discount_rate = real_sale.toFixed(1)
          if (discount_rate < 0) {
            discount_rate = -1
          }
          document.querySelector('.product-list').innerHTML += `
      <a class="product-link" href="http://127.0.0.1:8000/product/detail/${data['articles'][i]['id']}">
      <li class="product">
        <div class="product-writer">
          <span>
            <img src="${data['writer_image'][i][0]}" alt="" class="product-user-image"
              onerror="this.src='/static/img/potato.png'">
            <strong>${data['writer_image'][i][1]}</strong></span>
        </div>

        <div class="product-imgs">
          <img class="product-img" src="/media/${data['image'][i]}" alt="">
        </div>
        <div class="product-main-page">
          <span class="product-title">${data['articles'][i]['name']}</span>
          <span class="product-discount">${discount_rate}%<i class="fas fa-sort-down"></i></span>
        <strong class="product-price">${data['articles'][i]['price']} 원</strong>
        <div class="social">
          <span class="social-comment">댓글 +${data['comment_cnt'][i]} </span>
          <span class="social-like"> 찜 +${data['like_cnt'][i]}</span>
          </div>
      </div>
      </li>
    </a>
    ` }
    document.querySelector('.nav-search-input').value='';
      }).catch((error) => {
        console.log('error', error);
      })
    }
  </script>
  {% block script %}
  {% endblock script %}

</body>

</html>