{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block content %}


{% block product-main-title %}
<h1 class="product-main">카테고리별 제품</h1>
{% endblock product-main-title %}


{% block product-main-content %}
<section class="product-section">
  <ul class="product-list">

    <a class="product-link" href="#">
      <li class="product">
        <div class="product-writer">
          {% if article.writer.profile.image.url %}
        <span> <img src="{{article.writer.profile.image.url}}" alt="" class="product-user-image"><strong>{{article.writer}}</strong></span>
        {% else %}
        <span><i class="product-icon fas fa-user-circle"></i><strong>{{article.writer}}</strong> </span>
      {% endif %}  
      </div>
        <div class="product-imgs">
          <img class="product-img" src="{% static 'img/감자.png' %}" alt="">
        </div>
        <span class="product-title">감자 나눔 할 분 있으신가요 10개 주고 참외가 먹고싶네요 훗훗</span>
        <strong class="product-price">4000원</strong>
        <div class="social">
          <span class="social-comment">댓글 +10 </span>
          <span class="social-like"> 찜 +20</span>
        </div>
      </li>
    </a>

  </ul>
</section>
{% endblock product-main-content %}

{% endblock content %}

{% block script %}
<script>

  document.querySelector('.menu-all').classList.remove('checked');
  document.querySelector('.menu-category').classList.add('checked');


</script>
{% endblock script %}