{% extends 'category.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% include 'product-nav.html' %}

{% block product-main-title %}
<h1 class="product-main">{{category_title.name}} 제품</h1>
{% endblock product-main-title %}

{% block product-main-content %}

<form class="select-sub-form" action="{% url 'filter:category-sub-list' category_title.pk %}" method="GET">
  <section class="product-social">
    <div class="product-add">
      <span class="product-add-link"><a href="{% url 'product:upload_product' %}">글쓰기</a></span>
    </div>

    <select class="category_detail_select" name="sub_menu_pk">
      <option value="" selected>필터링보기</option>
      <option value="0">전체보기</option>
      {% for sub_menu in category_sub_list.all %}
      <option value="{{sub_menu.pk}}">{{sub_menu.name}}</option>
      {% endfor %}
    </select>
  </section>

</form>

{% if sub_state and not is_deleted %}
<section class="product-section">
  <ul class="product-list">
    {% for article in articles.all %}
    <a class="product-link" href="{% url 'product:detail' article.pk %}"><li class="product">
      <div class="product-writer">
        {% if article.writer.profile.image.url %}
      <span> <img src="{{article.writer.profile.image.url}}" alt="" class="product-user-image"><strong>{{article.writer}}</strong></span>
      {% else %}
      <span><i class="product-icon fas fa-user-circle"></i><strong>{{article.writer}}</strong> </span>
    {% endif %}  
    </div>
      <div class="product-imgs">
        {% for photo in article.photo.all %}
        <img class="product-img" src="{{photo.image.url}}" alt="">
      {% endfor %}
      </div>
      <span class="product-title">{{article.name}}</span>
      <span class="product-discount">{{article.article_price.discount_rate}}% <i class="fas fa-sort-down"></i></span>
      <strong class="product-price">{{article.price}} 원</strong>
      <div class="social">
        <span class="social-comment">댓글 +10 </span>
        <span class="social-like"> 찜 +20</span>
      </div>
    </li>
  </a>
    {% endfor %}
  </ul>
</section>
{% else %}
<section class="product-section">
  <ul class="product-list">
    {% for article in category_articles.all %}
    {% if not article.is_deleted %}
    <a class="product-link" href="{% url 'product:detail' article.pk %}"><li class="product">
      <div class="product-writer">
        {% if article.writer.profile.image.url %}
      <span> <img src="{{article.writer.profile.image.url}}" alt="" class="product-user-image"><strong>{{article.writer}}</strong></span>
      {% else %}
      <span><i class="product-icon fas fa-user-circle"></i><strong>{{article.writer}}</strong> </span>
    {% endif %}  
    </div>
      <div class="product-imgs">
        {% for photo in article.photo.all %}
        <img class="product-img" src="{{photo.image.url}}" alt="">
      {% endfor %}
      </div>
      <span class="product-title">{{article.name}}</span>
      <span class="product-discount">{{article.article_price.discount_rate}}% <i class="fas fa-sort-down"></i></span>
      <strong class="product-price">{{article.price}} 원</strong>
      <div class="social">
        <span class="social-comment">댓글 +10 </span>
        <span class="social-like"> 찜 +20</span>
      </div>
    </li>
  </a>
  {% endif %}
    {% endfor %}
  </ul>
</section>
{% endif %}


{% endblock product-main-content %}





{% block script %}
<script>

  document.querySelector('.menu-all').classList.remove('checked');
  document.querySelector('.menu-category').classList.add('checked');

document.querySelector('.select-sub-form').onchange = (e) => {
$selectForm = document.querySelector('.select-sub-form');
$selectForm.submit();
}

</script>
{% endblock script %}
