{% extends 'category.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% include 'product-nav.html' %}

{% block product-main-title %}
<h1 class="product-main">{{category_title.name}} 제품</h1>
{% endblock product-main-title %}

{% block product-main-content %}

<section class="product-section">
  <ul class="product-list">
    {% for article in category_articles.all %}
    {% if not article.is_deleted %}
    <a class="product-link" href="{% url 'product:detail' article.pk %}"><li class="product">
      <div class="product-writer">
      <span><i class="product-icon fas fa-user-circle"></i> {{article.writer}} </span>
      </div>
      <div class="product-imgs">
        {% for photo in article.photo.all %}
        <img class="product-img" src="{{photo.image.url}}" alt="">
      {% endfor %}
      </div>
      <span class="product-title">{{article.name}}</span>
      <span class="product-discount">{{article.article_price.discount_rate}}% <i class="fas fa-sort-down"></i></span>
      <strong class="product-price">{{article.price}} 원</strong>
      <div class="social">
        <span class="social-comment">댓글 +10 </span>
        <span class="social-like"> 찜 +20</span>
      </div>
    </li>
  </a>
  {% endif %}
    {% endfor %}
  </ul>
</section>

{% endblock product-main-content %}





{% block script %}
<script>

      document.querySelector('.menu-all').classList.remove('checked');
      document.querySelector('.menu-category').classList.add('checked');


</script>
{% endblock script %}
