{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="/static/css/style.css/">
{% endblock head %}

{% block content %}


{% block product-main-title %}
<h1 class="product-main">카테고리별 제품</h1>
{% endblock product-main-title %}


{% block product-main-content %}

{% endblock product-main-content %}

{% endblock content %}

{% block script %}
<script>

  document.querySelector('.menu-all').classList.remove('checked');
  document.querySelector('.menu-category').classList.add('checked');


</script>
{% endblock script %}