{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}
{% block content %}

<section class="detail-section">
  <div class="detail-img">
    {% for photo in article.photo.all %}
    <img class="detail-user-img" src="{{photo.image.url}}" alt="">
    {% endfor %}
  </div>
  <div class="detail-writer">
    <div class="writer">
      <div class="writer-infor">
        {% if article.writer.profile.image.url %}
      <img src="{{article.writer.profile.image.url}}" alt="" class="product-user-image" onerror="this.src=`{% static 'img/감자.png' %}`">
      {% else %}
      <i class="product-icon fas fa-user-circle"></i>
    {% endif %}  
        <span class="writer-nickname">{{article.writer}} </span>
      <span class="writer-region">경기 배곧동</span>
      <span class="writer-region">{{article.created_at}}</span>
    </div>
    {% if user.is_authenticated %}
    <div class="writer-cheat">
      <div class="detail-product-btn">
        {% if user.pk == article.writer.pk %}
        <a href="{% url 'product:delete' article.pk %}">삭제하기</a>
        <a href="{% url 'product:edit' article.pk %}">수정하기</a>
        {% else %}
        <button class="cheat-btn">채팅하기</button>
        {% endif %}
      </div>
      <div class="like">
        <form class="like-form" action="" method="POST">
        {% csrf_token %}
        {% if is_liked %}
          <input class="like-button" ><i class="detail-like fas fa-heart liked"onclick="likeBtn('{{article.pk}}')"></i></input>
       {% else %}
       <input class="like-button" ><i class="detail-like fas fa-heart"onclick="likeBtn('{{article.pk}}')"></i></input>
       {% endif %}
        </form>
      </div>
    </div>
    {% endif %}
    </div>
  </div>
  <div class="detail-title">
    <span class="detail-product-name">{{article.name}}</span>
    <span class="detail-product-origin-price">{{article.origin_price}}원</span>
    <span class="detail-product-price">{{article.price}}원</span>
  </div>
  <div class="detail-description">
    <p>
   {{article.content}}
    </p>
  </div>
  <div class="detail-comment">
    <span>댓글</span><br>
    <input type="text" class="input-comment" name="comment" placeholder="댓글입력">
    <button type="submit">댓글입력</button>
  </div>
</section>

{% endblock content %}

{% block script %}
<script>

document.querySelector('.menu-all').classList.remove('checked');

// 좋아요 토글

function likeBtn(article_pk) {

    let likeCsrfValue = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    let param = {
      'article_pk': article_pk,
    }
    fetch("{% url 'product:like' %}", {
      method: 'POST',
      headers: {
        "X-CSRFToken": likeCsrfValue,
        "X-Requested-With": "XMLHttpRequest"
      },
      body: JSON.stringify(param),
    }).then(function (response) {
      console.log('reass',response)
      return response.json()
    }).then(function (data) {
      let likedIcon = document.querySelector(`.detail-like`);
      if (data.is_liked){
          likedIcon.classList.add('liked');
      }
      else{
        likedIcon.classList.remove('liked');
      }

    }).catch((error) => {
      console.log('error', error);
    })
  }

</script>
{% endblock script %}
