{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}
{% block content %}

<section class="image-section">

  <form class="select-form" action="{% url 'product:select' %}" method="GET">
    <select class="image-select select02" name="category_pk">
      {% for category in category_list %}
      <option value="{{category.pk}}">{{category}}</option>
      {% endfor %}
      {% if state %}
      <option value=""selected>{{category}}</option>
      {% else %}
      <option value=""selected>카테고리선택</option>
      {% endif %}
  </select><br>
  </form>
<form class="image-form" action="{% url 'product:upload_product' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <select class="image-select" name="category_pk">
      {% for detail in category_detail %}
      <option value="{{detail.pk}}">{{detail}}</option>
      {% endfor %}
    </select><br>
    <div class="upload-img">
      <input class="image-file upload-img-input" type="file" name="image" multiple
        width="50"><br>
        <img src="#" alt="이미지 미리보기" class="upload-preview-img" onerror="this.src=`{% static 'img/img5.png' %}`" >
    </div>
    <div class="edit-img-div">
      {% for photo in article.photo.all %}
      <img class="edit-user-img" src="{{photo.image.url}}" alt="">
      {% endfor %}
      </div>

  <div class="image-price-div">
    <label class="price-label" for="image-origin-price">가격 :</label>
    <input id="image-origin-price" class="image-price image-origin-price" type="text" name="origin_price"> <span
      class="won">원</span><br>
    <i class="fas fa-arrow-right"></i>
    <input id="image-price" class="image-price" type="text" name="price"> <span class="won">원</span><br>
  </div>
  <input class="image-name" type="text" name="name" placeholder="제목입력"><br>
  <textarea class="image-content" name="content" placeholder="내용입력"></textarea><br>
  <input class="image-submit" type="submit" value="등록하기" />
  <br></form>
</section>

{% endblock content %}

{% block script %}
<script>
  // 이미지 업로드 기능
  const $uploadImgInput = document.querySelector('.upload-img-input');
  const $uploadPreviewImg = document.querySelector('.upload-preview-img');
  const $multipleContainer = document.querySelector('.multiple-container');

  // function setThumbnail(event) {
  //   for (let image of event.target.files) {
  //     let reader = new FileReader();
  //     reader.onload = function (event) {
  //       let img = document.createElement('img');
  //       img.setAttribute('src', event.target.result);

  //       document.querySelector('.multiple-container').appendChild(img);
  //     }

  //     console.log(image);
  //     reader.readAsDataURL(image);
  //   }
  // }
  $uploadPreviewImg.onclick = () => {
    $uploadImgInput.click();
  }

// 이미지 여러개
$uploadImgInput.onchange = (e) => {
    document.querySelector('.edit-img-div').innerHTML='';
    for (let image of event.target.files) {
      let reader = new FileReader();
      reader.onload = function (event) {
        let img = document.createElement('img');
        img.classList.add('edit-user-img');
        img.setAttribute('src', event.target.result);

        document.querySelector('.edit-img-div').appendChild(img);
      }

      console.log(image);
      reader.readAsDataURL(image);
    }
  }

  document.querySelector('.select-form').onchange = (e) => {
    console.log(document.querySelector('.image-select').value)
    $selectForm = document.querySelector('.select-form');
    $selectForm.submit();

  }



</script>
{% endblock script %}