*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
  font-family: 'Libre Franklin', sans-serif;
}
a{
  color: black;
  display: inline-block;
}

/* base */
.container{
max-width: 1400px;
margin: 0 auto;
}
.nav{
  /* background-color: yellow; */
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(206, 204, 204);
  
}
.nav-logo{
  display: flex;
  align-items: center;
  width: 20%;
  text-align: center;
}
.logo-img{
  width: 50px;
  height: 50px;
}

.nav-logo h1 a{
  display: inline-block;
  font-size: 4em;
  line-height: 1.5;
  font-family: 'Nanum Pen Script', cursive;
}
.nav-menu{
  text-align: center;
  /* background-color: pink; */
  width: 45%;
}
.menu-ul{
  display: flex;
  align-items: center;
  text-align: center;
}
.menu-ul li a{
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 3px;
  display: inline-block;
  font-size:1.6em;
  padding: 20px;
  margin: 0 15px;
}

.menu-ul li a:hover,
.menu-ul li a:focus
{
  color: dodgerblue;
  font-weight: bold;
}

.nav-link{
  display: flex;
  width: 35%;
}
.nav-user{
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.user-img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.nav-user img{
  border: 1px solid #ccc;
  border-radius: 10px;
}
.user-name{
  font-size: 1.5em;
}
.nav-link{
  text-align: center;
  align-items: center;
}
.nav-link a{
  display: inline-block;
  font-size:1.5em;
  margin: 0 10px;
  padding: 8px 0px;
  width: 120px;
  border-radius: 5px;
  font-weight: bold;
  background-color: lightgray;
  transition: all 200ms;
}
.nav-link a:hover,
.nav-link a:focus
{
  background-color: rgba(0, 0, 0, 0.671);
  color: #eee;
}
.footer{
  margin-top: 220px;
  background-color: #495057;
  min-height: 300px;
}

/* login & logout*/
.login-section,.register-section{
  margin-top:50px;
  text-align: center;
}
.login-img{
  width: 300px;
  height: 300px;
}
.register-img{
  width: 250px;
  height: 250px;
}
.login-section span,.register-section span{
  display: block;
  font-size: 4.8em;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: 'Nanum Pen Script', cursive;
}
.login-form,.register-form{
  text-align: center;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-id,.login-pwd,.login-submit,.login-kakao,
.register-id,.register-email,.register-pwd,.register-pwd-chk,.register-submit,.register-kakao{
  width: 300px;
  margin-bottom:15px;
  padding:15px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}
.login-id,.register-email,.login-pwd,
.register-id,.register-pwd,.register-pwd-chk{
  box-shadow: 0px 0px 5px 0px rgb(150, 147, 147);
}
.login-submit,.register-submit{
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}
.login-submit:hover,
.register-submit:hover{
  background-color: rgba(0, 0, 0, 0.671);
  color: #eee;
  transition: all 200ms;
}
.login-infor,
.register-infor{
  display: block;
  font-size: 1.5em;
}

/* mypage */
.profile-section{
  margin-top: 100px;
  min-height: 100%;
  text-align: center;
  
}
.infor-ul{
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0px 0px 5px 0px rgb(150, 147, 147);
  display: inline-block;
  width: 20%;
  margin-right: 5%;
  float: left;
  text-align: left;
  min-height: 200px;

}
.infor-ul li{
  margin: 20px;

  z-index: 1;
}
.infor-ul li:hover,
.infor-ul li:focus{
  border-radius: 5px;
  transition: all 200ms;
}
.infor-ul li:hover button,
.infor-ul li:focus button {
  border-radius: 5px;
  color: #eee;
  background-color: rgba(87, 84, 84, 0.671);
  transition: all 200ms;
}
.infor-ul li button{
  padding: 5px 10px;
  width: 100%;
  font-size: 2em;
  border: none;
/* width: 70%; */
}
.infor-ul li button i{
  width: 20%;
  margin-right: 20px;
  text-align: left;
  display: inline-block;
  font-size: 1.3em;
}
.infor-ul li button span{
  font-size: 1em;
  width: 80%;
  margin-right: 20px;
  text-align: left;
}

.infor-section-profile{
  text-align: left;
  min-height: 1000px;
  background-color: yellow;
  width: 75%;
  float: left;
}
.infor-section-profile h2{
  font-size: 2em;
  text-align: left;
  margin-left: 100px;
  display: inline-block;
  background-color: red;
}
.infor-section-profile h2 i{
  font-size: 1em;
}
.clicked{
  border-radius: 5px;
  color: #eee;
  background-color: dodgerblue;
}


/* product */
.checked{
  border-radius: 5px;
  color: dodgerblue;
  font-weight: bold;
}
.product-main{
  margin-top: 80px;
  text-align: center;
  font-size: 3em;
}
select{
  display: inline-block;
  width: 200px;
  padding: .8em .5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  border-radius: 0px;
}

.product-social{
  padding: 0px 35px;
  margin-top: 80px;
  text-align: right;
  /* background-color: yellow; */
}
.product-section{
  margin-top: 10px;
}
.product-list{
  width: 100%;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  text-align: center;
}
.product-link{
  background-color: pink;
  margin: 50px 10px;
  transform: scale(0.98);
  transition: all 200ms;
}
.product-link:hover{
  transform: scale(1.0);
}
.product-list .product{
  width: 250px;
  height: 340px;
  padding: 20px 15px; 
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(245, 244, 244);
  box-shadow: 0px 0px 8px 0px rgb(150, 147, 147);
  position: relative;
}
.product-writer{
  text-align: left;
}
.product-img{
  margin-top: 10px;
  width: 250px;
  height: 200px;
}
.product-title{
  display: block;
  font-size: 2.5em;
  padding: 3px 10px;
  margin: 5px auto;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  letter-spacing: 3px;
  text-align: center;
}
.product-list li span{
  font-size: 1.7em;
}
.product-price{
  font-size: 1.7em;
  text-align: left;
  position: absolute;
  left: 23px;
}

.social{
  font-size: 0.7em;
  padding: 10px 10px;
  display: flex;
  position: absolute;
  bottom: 10px;
}

.social-comment,
.social-like{
  margin-right: 9px;
  display: inline-block;
  font-size: 0.5em;
  font-weight: bold;
  color: rgb(68, 67, 67);
}

.product-icon{
  font-size: 20px;
}

/* category */
.product-nav{
  margin-top: 20px;
}
.product-menus{
display: flex;
justify-content: space-around;
}
.product-menu{
  position: relative;
  height: 35px;
}
.product-menu a{
  font-size: 1.5em;
  padding: 10px 0px;
  }
.product-menu:hover,
.product-menu:focus{
  box-shadow: 0px 1px 0px 0px ;
}

/* product detail */
.detail-section{
  width:700px;
  margin:60px auto;
  text-align: center;
  /* background-color: yellow; */
}
.detail-user-img{
  width: 700px;
  height: 450px;
  object-fit:cover;
  border-radius: 5px;
}
.detail-writer{
  /* background-color: pink; */
  /* min-height: 100px; */
}
.writer{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  padding: 20px 15px;
  border-bottom: 1px solid #eee;
}
.writer-infor{
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 0px;
  /* background-color: blue; */
}
.writer-icon{
  color: #495057;
  font-size: 1.5em;
}
.writer-nickname{
  font-size: 1.0em;
  font-weight: bold;
  color: #495057;
  /* margin-right: 20px; */
}
.writer-region{
  color: #495057;
  font-size: 0.8em;
}
.writer-cheat{
  /* background-color: yellow; */
  display: inline-block;
  margin: auto 0px;
}
.writer-cheat button{
  display: inline-block;
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: #319e45;
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}
.writer-cheat button:hover{
  color: black;
  background-color: rgba(87, 84, 84, 0.671);
  transition: all 200ms;
}

.detail-title{

  padding: 20px 15px;
  text-align: left;
  font-size: 1.3em;
  /* background-color: green; */
  display: flex;
  flex-direction: column;

}
.detail-product-name{
  margin-bottom: 5px;
  font-size: 1.6em;
  font-weight: bold;
}
.detail-product-price{
  font-size: 1.6em;
  font-weight: bold;
}

.detail-description{
  border-bottom: 1px solid #eee;
  padding: 0px 15px 20px 0px;
  text-align: left;
  font-size: 1.3em;
  /* background-color: red; */
  min-height: 100px;
}
.detail-description p{
  white-space:pre;
  font-size: 1.3em;
}
.detail-comment{
  text-align: left;
  padding: 15px 20px;
}
.detail-comment span{
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 0px;
}
.input-comment{
  padding: 10px 5px;
  width: 300px;
  border: 1px solid rgb(207, 205, 205);
}
.detail-comment button{
  border: none;
  width: 100px;
  padding:  10px 5px;
  cursor: pointer;
}